* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main-title{
  font-size: 2.4rem;
  font-weight: 700;
  color:#2e2e2e;
}

.main-title_span{
  font-weight: 900;
  color: #070707;
}

.main-title_span-dot{
  color: #ff4d79;
  font-size: 5rem;
}

.main-text{
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color:#999999;
}

.weatherForecast{
  background-color: #eeeeee;
  padding: 3rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 90vw;
}

.temperature{
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature-span{
  color: #7c7c7e;
  font-weight: 500;
}

.temperature-txt{
  font-size: 4rem;
  font-weight: 900;
}


.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1rem;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f0f0f0;
  border: none;
  color: #808080;
  padding: 1.3rem;
  border-radius: 30px;
  width: 90vw;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #ebebeb;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #4d4d4d;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: ease .4s;
}

.search__icon {
  height: 2em;
  width: 2em;
  fill: #b4b4b4;
}


@media only screen and (min-width: 700px) {
  .main{
    height: 100vh;
    text-align: center;
  }

  .main-title{
    font-size: 4rem;
  }

  .main-text{
    font-size: 1.6rem;
  }
  
  .search__input{
    width: 30rem;
    margin-right: -3rem;
  }

  .weatherForecast, .search__input {
    width: 40vw;
  }

  .search__input::placeholder {
    font-size: 1.3rem;
  }

}
















